<!DOCTYPE html>
<html>
<head>
  <title>{{{title}}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="w-full h-16 bg-gray-800 text-white flex items-center justify-center">
    {{> header}}
  </div>
  <div class="ml-5 mr-5">
  {{{ body }}}
  </div>
  <div class="fixed bottom-0 w-full h-16 bg-gray-800 text-white flex items-center justify-center">
  {{> footer}}
</body>
</html>
