<footer class="w-full">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0">
    <div class="text-sm font-bold flex flex-2 md:mr-auto">
      <a href="https://saskpolytech.ca/programs-and-courses/programs/Computer-Systems-Technology.aspx" target="_blank" class="font-bold italic underline hover:text-gray-500">Computer Systems Technology</a> &nbsp;of &nbsp;
      <a href="http://saskpolytech.ca/" target="_blank" class="font-bold italic underline hover:text-gray-500">SaskPolytech</a>&nbsp;All rights reserved.
    </div>


    <div class="text-sm flex">
      Built by &nbsp; &nbsp;
        <a href="https://github.com/tran3964" target="_blank" class="font-bold italic underline hover:text-gray-500">Nguyen Tran</a>
        &nbsp; , &nbsp;
        <a href="https://github.com/tie0913" target="_blank" class="font-bold italic underline hover:text-gray-500">Tie Wang</a>
    </div>
  </div>

</footer>