<header>
  <nav class="navbar">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/events/list">Events</a></li>
      <li><a href="/career">Career</a></li>

      <li class="spacer"></li> {{!-- pushes the following items to the right --}}

      {{#if user}}
        <li><a href="/registrations/enter">My Registrations</a></li>
        {{#if (eq user.role "admin")}}
          <li><a href="/registrations/admin">Admin</a></li>
        {{/if}}
        <li>
          <li><a class="btn btn-outline" href="/logout">Logout</a></li>
        </li>
      {{else}}
        <li><a class="btn btn-outline" href="/signin">Sign in</a></li>
        <li><a class="btn btn-primary" href="/signup">Sign up</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
