<header class="w-full">
  <nav class="max-w-7xl mx-auto flex h-16 items-center px-4 sm:px-6 lg:px-8">
    <ul class="flex flex-1 items-center space-x-12">
      <li><a href="/" class="text-sm font-bold text-white hover:text-gray-300">Home</a></li>
      <li><a href="/events/list" class="text-sm font-bold text-white hover:text-gray-300">Events</a></li>
      {{#if user}}
        <li><a href="/registrations/enter" class="text-sm font-bold text-white hover:text-gray-300">Registrations</a></li>
      {{/if}}
    </ul>

    <div class="flex items-center space-x-4">
      {{#if user}}
        <span>{{user.fullname}}</span>
        <a href="/signup/success?u={{user.id}}" class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-700 text-white hover:bg-gray-600 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" 
               class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5.121 17.804A8 8 0 0112 15a8 8 0 016.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
          </svg>
        </a>
        <a href="/logout" class="text-sm font-bold text-white hover:text-gray-300">Logout →</a>
      {{else}}
        <a href="/signin" class="text-sm font-bold text-white hover:text-gray-300">Sign in</a>
        <a href="/signup" class="rounded-md bg-white px-3 py-2 text-sm font-bold text-black hover:bg-gray-200">
          Sign up
        </a>
      {{/if}}
    </div>
  </nav>
</header>
